<header>
  <nav style=" height: 120px;" class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><img style="height: 90px;" src="https://cdn.onlinewebfonts.com/svg/img_383254.png"></div>

<p style="padding-top: 30px; padding-left: 10px;
color:rgb(255, 254, 251);font-weight: bolder;font-size: 25px;">Attendance Marker</p> 
  <ul class="navbar-nav">
   <!-- <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
   -->

  </ul>

  </nav>

  </header> 
  
